extends layout

block content
  h1= title
  form(action='/add_post' method='POST')
    p
      | title:
      input(type='text', name='title')
      | path:
      input(type='text', name='path')
      | content:
      textarea(name='content' row='10' cols='50')
